<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.englishlearningapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnglishLearningApp">
        <activity
            android:name=".mvvm.views.ChooseRoleActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvvm.views.admin.AdminLoginActivity"/>
        <activity android:name=".mvvm.views.admin.AdminMainActivity"/>
        <activity android:name=".mvvm.views.student.StudentLoginActivity"/>
        <activity android:name=".mvvm.views.student.StudentMainActivity"/>
        <activity android:name=".mvvm.views.student.main.LessonDetailActivity"/>
    </application>

</manifest>